$window-background-color: #FFC675;
$window-border-color: #98959E;
$background-color: #5B7B90;
$window-header-bg-color: $background-color;
$h1-color: #5B7B90;
$h2-color: #98959E;

$input-border-color: $h2-color;
$button-bg-color: $background-color;
$button-border-color: $window-border-color;

$fp-input-font-size: 20px;
$fp-input-height: 40px;
$tool-button-size: 35px;

$main-footer-border-color: $window-background-color;
$main-footer-bg-color: $background-color;
$main-footer-color: $window-background-color;
$selected-tool-border-color: $window-border-color;

$chat-message-bg-color: $window-border-color;
$chat-message-border-color: $chat-message-bg-color;

$status-room-name-bg-color: $background-color;
$status-participant-bg-color: $window-border-color;
